{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url({% static 'images/resource/k.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-header">
                        <p>We believe in authenticity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 column">
            <div class="site-info">
                <h1 class="about-us">ABOUT US</h1><br>
                <p class="about-us-p">
                    Ever since hitrekkers was launched, it's not about who are the people behind it, It's always about the people who are getting value from hitrekkers. So we are a community of people who love to get inspired and to inspire other people to travel.
                </p>
                <p><b class="about-us-tag">
                        <center>We are a growing company having global reach of over 1 Million Audience every month.</center>
                    </b></p><br><br>
                <br>
                <hr>
                <p><a href="#" title=""><img src="{% static 'images/resource/admin.jpg' %}" alt="" class="team-photo" /><b class="team-name">Manoz Acharya</b>,
                        <i class="team-position"> Product Design Head</i></p><br>
                <p><a href="#" title=""><img src="{% static 'images/resource/admin.jpg' %}" alt="" class="team-photo" /><b class="team-name">Manoz Acharya</b>,
                        <i class="team-position"> Product Design Head</i></p><br>
                <p><a href="#" title=""><img src="{% static 'images/resource/admin.jpg' %}" alt="" class="team-photo" /><b class="team-name">Manoz Acharya</b>,
                        <i class="team-position"> Product Design Head</i></p><br>
                <p><a href="#" title=""><img src="{% static 'images/resource/admin.jpg' %}" alt="" class="team-photo" /><b class="team-name">Manoz Acharya</b>,
                        <i class="team-position"> Product Design Head</i></p>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
</section>
{% endblock %}