{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section class="overlape">
                <div class="block no-padding">
                    <div data-velocity="-.1" style="background: url({% static 'images/resource/k.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
                    <div class="container fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-header">
                                    <p>So you have something to say.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <section>
        <div class="block">
            <div class="container">
                 <div class="row">
                    <div class="col-lg-1 column">
                    </div>
                    <div class="col-lg-5 column">
                        <div class="contact-form">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="pf-title"><b>Full Name</b></span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title"><b>Email</b></span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title"><b>Subject</b></span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title"><b>Message</b></span>
                                        <div class="pf-field">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit"><b>Send</b></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 column">
                        <div class="contact-textinfo">
                            <ul>
                                <li><i class="la la-map-marker"></i><span>Shankhamul Road, Radha Marga, 44600 </span></li>
                                <li><i class="la la-phone"></i><span>Call Us : 9811050526</span></li>
                                <li><i class="la la-envelope-o"></i><span>Email : <a href="" class="__cf_email__" data-cfemail="89e0e7efe6c9e3e6ebe1fce7fda7eae6e4">hitrekkersnepal@gmail.com</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1 column">
                    </div>
                 </div>
            </div>
        </div>
    </section>
    {% endblock %}