{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="overlape">
            <div class="block no-padding">
                <div data-velocity="-.1" style="background: url({% static 'images/resource/c.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
                <div class="container fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-header">
                                <h3 class="dest-title">ChampaDevi</h3>
                                <div class="job-statistic">
                                    <span>SHORT HIKE</span>
                                    <p><i class="la la-map-marker"></i>Kathmandu, Nepal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--         <section>
            <ul class="cand-extralink">
                <li><a href="#history">HISTORY</a></li>
                <li><a href="#prepration">TRIP PREPRATION</a></li>
                <li><a href="#culture">CULTURE</a></li>
                <li><a href="#stays">STAYS</a></li>
                <li><a href="#howto">HOW TO REACH</a></li>
            </ul>
        </section> -->
        <section>
            <div class="container mt-5">
                <div class="cand-details-sec mt-5">
                    <div class="row">
                        <div class="col-lg-8 column">
                            <h3 id="h">Destination Highlights</h3>
                            <p>
                                 This is third highest hill around Kathmandu valley, which is at the height of 2278 meter.
                                 Enjoy fantastic aerial views of Historical places like Bugmati, Khokana, Pharping and also Bagmati River.
                                 You can observe the bustling valley (Kathmandu, Lalitpur and Bhaktapur) and spectacular village settlements from the top.
                                 In autumn and winter, the summit offers commanding views of the Himalayan range such as Gauri Shankar, Dorje Lakpa, Langtang Lirung, Ganesh Himal from the top.
                                 You can see Fulchoki hill on your right, Chandra Giri which is highest hill around.
                                 You can find varieties of Flora and Fauna in the journey.
                                 You can visit the Champadevi Temple revered by both Hindus and Buddhists.
                                 Well maintained walking trail with stone steps
                            </p>
                            <a name="history"></a>
                            <h3>History</h3>
                            <p>
                                 This is third highest hill around Kathmandu valley, which is at the height of 2278 meter.
                                 Enjoy fantastic aerial views of Historical places like Bugmati, Khokana, Pharping and also Bagmati River.
                                 You can observe the bustling valley (Kathmandu, Lalitpur and Bhaktapur) and spectacular village settlements from the top.
                                 In autumn and winter, the summit offers commanding views of the Himalayan range such as Gauri Shankar, Dorje Lakpa, Langtang Lirung, Ganesh Himal from the top.
                                 You can see Fulchoki hill on your right, Chandra Giri which is highest hill around.
                                 You can find varieties of Flora and Fauna in the journey.
                                 You can visit the Champadevi Temple revered by both Hindus and Buddhists.
                                 Well maintained walking trail with stone steps
                            </p>
                            <a name="prepration"></a>
                            <h3 id="prepration">Prepration</h3>
                            <p>
                                 This is third highest hill around Kathmandu valley, which is at the height of 2278 meter.
                                 Enjoy fantastic aerial views of Historical places like Bugmati, Khokana, Pharping and also Bagmati River.
                                 You can observe the bustling valley (Kathmandu, Lalitpur and Bhaktapur) and spectacular village settlements from the top.
                                 In autumn and winter, the summit offers commanding views of the Himalayan range such as Gauri Shankar, Dorje Lakpa, Langtang Lirung, Ganesh Himal from the top.
                                 You can see Fulchoki hill on your right, Chandra Giri which is highest hill around.
                                 You can find varieties of Flora and Fauna in the journey.
                                 You can visit the Champadevi Temple revered by both Hindus and Buddhists.
                                 Well maintained walking trail with stone steps
                            </p>
                            <h3 id="culture">Culture</h3>
                            <p>
                                 This is third highest hill around Kathmandu valley, which is at the height of 2278 meter.
                                 Enjoy fantastic aerial views of Historical places like Bugmati, Khokana, Pharping and also Bagmati River.
                                 You can observe the bustling valley (Kathmandu, Lalitpur and Bhaktapur) and spectacular village settlements from the top.
                                 In autumn and winter, the summit offers commanding views of the Himalayan range such as Gauri Shankar, Dorje Lakpa, Langtang Lirung, Ganesh Himal from the top.
                                 You can see Fulchoki hill on your right, Chandra Giri which is highest hill around.
                                 You can find varieties of Flora and Fauna in the journey.
                                 You can visit the Champadevi Temple revered by both Hindus and Buddhists.
                                 Well maintained walking trail with stone steps
                            </p>
                            <h3 id="stays">Stays</h3>
                            <p>
                                 This is third highest hill around Kathmandu valley, which is at the height of 2278 meter.
                                 Enjoy fantastic aerial views of Historical places like Bugmati, Khokana, Pharping and also Bagmati River.
                                 You can observe the bustling valley (Kathmandu, Lalitpur and Bhaktapur) and spectacular village settlements from the top.
                                 In autumn and winter, the summit offers commanding views of the Himalayan range such as Gauri Shankar, Dorje Lakpa, Langtang Lirung, Ganesh Himal from the top.
                                 You can see Fulchoki hill on your right, Chandra Giri which is highest hill around.
                                 You can find varieties of Flora and Fauna in the journey.
                                 You can visit the Champadevi Temple revered by both Hindus and Buddhists.
                                 Well maintained walking trail with stone steps
                            </p>
                            <h3 id="howto">How To</h3>
                            <p>
                                 This is third highest hill around Kathmandu valley, which is at the height of 2278 meter.
                                 Enjoy fantastic aerial views of Historical places like Bugmati, Khokana, Pharping and also Bagmati River.
                                 You can observe the bustling valley (Kathmandu, Lalitpur and Bhaktapur) and spectacular village settlements from the top.
                                 In autumn and winter, the summit offers commanding views of the Himalayan range such as Gauri Shankar, Dorje Lakpa, Langtang Lirung, Ganesh Himal from the top.
                                 You can see Fulchoki hill on your right, Chandra Giri which is highest hill around.
                                 You can find varieties of Flora and Fauna in the journey.
                                 You can visit the Champadevi Temple revered by both Hindus and Buddhists.
                                 Well maintained walking trail with stone steps
                            </p><br>
                            <section>
                                
                                    <div class="feature">
                                        <figure class="featured-item image-holder r-3-2 transition"></figure>
                                    </div>
                                    <div class="gallery-wrapper">
                                        <div class="gallery">
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 active transition"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 transition"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 transition"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 transition"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 transition"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 transition"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 transition"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 transition"></figure>
                                            </div>
                                            <div class="item-wrapper">
                                                <figure class="gallery-item image-holder r-3-2 transition"></figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls">
                                        <button class="move-btn left">&larr;</button>
                                        <button class="move-btn right">&rarr;</button>
                                    </div>
                             
                                <h3 id="howto">What Next?</h3>
                                <p>
                                 This is third highest hill around Kathmandu valley, which is at the height of 2278 meter.
                                 Enjoy fantastic aerial views of Historical places like Bugmati, Khokana, Pharping and also Bagmati River.
                                 You can observe the bustling valley (Kathmandu, Lalitpur and Bhaktapur) and spectacular village settlements from the top.
                                 In autumn and winter, the summit offers commanding views of the Himalayan range such as Gauri Shankar, Dorje Lakpa, Langtang Lirung, Ganesh Himal from the top.
                                 You can see Fulchoki hill on your right, Chandra Giri which is highest hill around.
                                 You can find varieties of Flora and Fauna in the journey.
                                 You can visit the Champadevi Temple revered by both Hindus and Buddhists.
                                 Well maintained walking trail with stone steps
                            </p><br>
                            </section>
                        </div>
                        <div class="col-lg-4 column">
                            <div class="sticky-sidebar">
                                <div class="nearby ml-5">
                                    <h2 class="mb-3"> Nearby Destination </h2>
                                    <div class="row">
                                        <div class="nearby-dest">
                                            <a href=""><img src="{% static 'images/resource/b.jpg' %}">
                                                <span class="nearby-dest-title"><b>Basantapur</b></span></a>
                                        </div>
                                        <div class="nearby-dest">
                                            <a href=""><img src="{% static 'images/resource/a.jpg' %}">
                                                <span class="nearby-dest-title"><b>Nuwakot</b></span></a>
                                        </div>
                                        <div class="nearby-dest">
                                            <a href=""><img src="{% static 'images/resource/co.jpg' %}">
                                                <span class="nearby-dest-title"><b>Pokhara</b></span></a>
                                        </div>
                                        <div class="nearby-dest">
                                            <a href=""><img src="{% static 'images/resource/k1.jpg' %}">
                                                <span class="nearby-dest-title"><b>Nagarkot</b></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    {% endblock %}