{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section class="overlape">
                <div class="block no-padding">
                    <div data-velocity="-.1" style="background: url({% static 'images/resource/k.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
                    <div class="container fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-header">
                                    <p>We believe in transparancy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8 column">
                        <div class="site-info">
                            <h2 class="website-terms">Privacy Policy</h2><br>
                            <p>
                                <b>You don’t want to worry about the whereabouts of your private information when you’re searching for trekking inspiration or planning your next adventure. That’s why we’re committed to protecting the personal information you share with us – and why we’ve created this notice. It tells you who we are, the ways we collect your information, what we do with it, and who we share it with.</b>
                            </p>
                            <p>
                                We <b>don’t ask</b> you for personal information unless we truly need it.
                            </p>
                            <p>
                                We <b>don’t share</b> user's data with anyone except to comply with the law, develop our products, or protect our rights.
                            </p>
                            <p>
                                We <b>don’t store</b> user's data on our servers unless required for the on-going operation of our site.
                            </p><br>
                            <h3><b> Website Visitors</b> </h3>
                            <p>
                                We collects non-personally-identifying information such as the browser type, language preference, referring site, and the date and time of each visitor request. Our purpose in collecting non-personally identifying information is to better understand how hitrekkers visitors are using the website. It enable us to constant improvement of our product. From time to time, We may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
                                <p>
                                    We also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users. We only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information.</p>
                            </p><br>
                            <h3><b> Cookies </b></h3>
                            <p>
                                A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. We uses cookies to track visitors, their usage of our website, and their website access preferences. Our visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using websites.</p>
                            <br><h3><b> Retention of your data </b></h3>
                            <p>
                                We will only retain your personal data for as long as we have a lawful reason to do so. This is subject to any reasonable requests by you which will be considered.
                            </p>
                            <h3><b> Privacy Policy Changes </b></h3>
                            <p>
                                Although most changes are likely to be minor, We may change our Privacy Policy from time to time. We encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
            </section>
            {% endblock %}