{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section class="overlape">
                <div class="block no-padding">
                    <div data-velocity="-.1" style="background: url({% static 'images/resource/k.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
                    <div class="container fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-header">
                                    
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container mt-5">
                    <p><center>Your Search result for <b>Best Trekking in Nepal</b></center></p><br>
                    <div class="col-lg-12">
                        <div class="row destination-slider-list">
                            <div class="col-lg-3">
                                <div class="list-ccard">
                                    <div class="">
                                        <img src="{% static 'images/slider/one.jpg' %}" alt="image alt" / style="width:80%" class="img">
                                    </div>
                                    <div class="dest-slider-info-main">
                                        <div class="dest-slider-info mt-1">
                                            Namo Buddha
                                        </div>
                                        <p>7 KM east from Lalitpur</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="list-ccard">
                                    <div class="">
                                        <img src="{% static 'images/slider/one.jpg' %}" alt="image alt" / style="width:80%" class="img">
                                    </div>
                                    <div class="dest-slider-info-main">
                                        <div class="dest-slider-info mt-1">
                                            Namo Buddha
                                        </div>
                                        <p>7 KM east from Lalitpur</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="list-ccard">
                                    <div class="">
                                        <img src="{% static 'images/slider/one.jpg' %}" alt="image alt" / style="width:80%" class="img">
                                    </div>
                                    <div class="dest-slider-info-main">
                                        <div class="dest-slider-info mt-1">
                                            Namo Buddha
                                        </div>
                                        <p>7 KM east from Lalitpur</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="list-ccard">
                                    <div class="">
                                        <img src="{% static 'images/slider/one.jpg' %}" alt="image alt" / style="width:80%" class="img">
                                    </div>
                                    <div class="dest-slider-info-main">
                                        <div class="dest-slider-info mt-1">
                                            Namo Buddha
                                        </div>
                                        <p>7 KM east from Lalitpur</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="list-ccard">
                                    <div class="">
                                        <img src="{% static 'images/slider/one.jpg' %}" alt="image alt" / style="width:80%" class="img">
                                    </div>
                                    <div class="dest-slider-info-main">
                                        <div class="dest-slider-info mt-1">
                                            Namo Buddha
                                        </div>
                                        <p>7 KM east from Lalitpur</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}