{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section class="overlape">
                <div class="block no-padding">
                    <div data-velocity="-.1" style="background: url({% static 'images/resource/k.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
                    <div class="container fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-header">
                                    <p>We believe in transparancy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8 column">
                        <div class="site-info">
                            <h1 class="website-terms">Website Terms</h1>
                            <p class="update-date"><i>Last updated: Nov 4, 2019</i></p>
                            <p>
                                <b>These terms govern your use of the sites (as defined below) including your participation in our online community (whether you're registered, contributing content or just browsing). Please read and check these terms regularly as they may change from time to time.</b>
                            </p>

                            <p class="site-info-divider">
                                <i>By using any website, you agree to be bound by the terms described below.</i>
                            </p>
                            <p>
                                You are <b>welcome to reference our content</b> on your own blogs/sites/social media, as long as you give us full credit in that case.
                            </p>
                            <p>
                                You are <b>not allowed</b> to plagiarize our content and/or translate full contents on your site.
                            </p>
                            <p>
                                Every content shared on this site, you can <b>freely use</b> for your personal and non-commercial purposes only.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
            </section>
            {% endblock %}